<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" id="1"><button class="page-link" href="#" onclick="showData(1)">1</button></li>
    <li class="page-item" id="2"><button class="page-link" href="#" onclick="showData(2)">2</button></li>
    <li class="page-item" id="3"><button class="page-link" href="#" onclick="showData(3)">3</button></li>
  </ul>
</nav>